.footer-copyright-menu {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  color: #141414;
  gap: 3.2rem;
  line-height: 140%;

  @media screen and (max-width: 576px) {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  li:last-child {
    border-left: 1px solid rgb(0, 0, 0, 10%);
    padding-left: 3.2rem;

    @media screen and (max-width: 576px) {
      padding: 0;
      border: none;
    }
  }

  li.current-menu-item a {
    text-decoration: underline;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
