.home-intro {
  position: relative;
  height: 90rem;
  background: rgb(0, 0, 0, 1%);

  .blur {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 31%; /* Нижние 20% */
    backdrop-filter: blur(3px); /* Размытие */
  }

  @media screen and (max-width: 576px) {
    height: 60rem;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 3.2rem;
    padding-block: 9.6rem;
  }

  &__subtitle {
    max-width: 69.6rem;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: -0.096rem;
  }

  &__title {
    max-width: 69.6rem;
    font-size: 4.8rem;
    font-weight: 500;
    letter-spacing: -0.192rem;

    @media screen and (max-width: 768px) {
      font-size: 4rem;
    }
  }
}
